@import "tailwindcss";

.social-link {
  @apply text-white text-xl hover:text-cyan-400 transition-colors duration-200 ease-in-out
}
.nav-button {
  @apply text-white cursor-pointer hover:bg-zinc-800 px-8 py-4 h-full text-xl font-bold transition-colors duration-200 ease-in-out
}

.nav-active-button {
  @apply text-white cursor-pointer bg-zinc-800 px-8 py-4 h-full text-xl font-bold transition-colors duration-200 ease-in-out
}

.project-desc-h {
  @apply font-bold text-3xl text-center my-5 text-cyan-400
}

.project-desc-button {
  @apply px-4 py-2 rounded-lg bg-cyan-500 hover:bg-cyan-400 text-white font-bold text-2xl transition-colors duration-150 ease-in-out cursor-pointer
}

.project-desc-p {
  @apply font-bold text-center px-9 text-white
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: black;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #2a2a2a;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #363636;
  }
}