@import "tailwindcss";


.particle-animation {
  animation-name: moveLeft;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveLeft {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

.social-link {
  @apply text-white text-xl hover:text-red-800 transition-colors duration-200 ease-in-out
}
.nav-button {
  @apply text-white cursor-pointer hover:bg-zinc-800 px-8 py-4 h-full text-xl font-bold transition-colors duration-200 ease-in-out
}

.nav-active-button {
  @apply text-white cursor-pointer bg-zinc-800 px-8 py-4 h-full text-xl font-bold transition-colors duration-200 ease-in-out
}

.project-desc-h {
  @apply font-bold text-3xl text-center my-5 text-red-800
}

.project-desc-button {
  @apply px-4 py-2 rounded-lg bg-red-800 hover:bg-red-700 text-white font-bold text-2xl transition-colors duration-150 ease-in-out cursor-pointer
}

.project-desc-p {
  @apply font-bold text-center px-9 text-white
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: black;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #2a2a2a;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #363636;
  }
}

@media print {
  @page {
    size: A4 portrait;
  }
}